<table id="tasks_calender"  class="responsive">
    <thead>
        <th class="width_30">タスク<br>番号</th>
        <th class="width_30">課題<br>番号</th>
        <th class="width_30">担当者</th>
        <th class="width_200">タスク内容</th>
        <th class="width_40">実施<br>予定日</th>
        <% for i in -5..15 do%>
            <% if i == 0 then %>
                <th class="emp width_40"><%= (Date.today+i).strftime("%m/%d") %><br>Today</th>
            <% else %>
                <th class="width_40"><%= (Date.today+i).strftime("%m/%d") %></th>
            <% end %>
        <% end %>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td class="edit"><%= link_to task.id, edit_task_path(task) %></td>
            <td class="edit"><%= link_to task.kadai_id, edit_kadai_path(task.kadai_id) %></td>
            <td><%= task.do_person %></td>
            <td><%= task.task %></td>
            <td><%= task.due_date.strftime("%m/%d") %></td>
            <% for i in -5..15 do %>
                <% if task.due_date == (Date.today+i) then %>
                    <td style="background-color:#A2DBA8; color:#ffffff; text-align:center;"><%= task.plan_hour %></td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
            </tr>
        <% end %>
    </tbody>
</table>